@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
.main-form{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 25px;
    row-gap: 15px;
    width: 90%;
    margin: auto;
    margin-top: 25px;
}
.form-input{
    width: 100%;
}
.form-input > input{
    border: none;
    outline: none;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 25px 15px;
    border-radius: 5px;
    background-color: #f4f4f4;
}
.label{
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
.search-btn{
    border: none;
    outline: none;
    width: 100%;
}
#search{
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 13px;
    padding: 27px 35px;
    border-radius: 5px;
    background-color: #2379B7;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}
::placeholder{
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}