*{
    margin: 0px;
    padding: 0px;
}
.star-icon{
    color: #e4d604;
}
.maiHotelScroll{
    display: flex;
    padding: 18px 35px;
}
.hotelName{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
}
.hotelImagDiv{
    border-radius: 15px;
}
.hotelDetails{
    flex-basis: 60%;
    padding: 10px 25px;
}
.locationAndRating{
    display: flex;
}
.rating{
    margin-bottom: 0px;
}
.hotelLocation{
    margin-bottom: 0px;
    margin-left: 25px;
    color: rgb(109, 109, 109);

}
.facilty-and-price{
    display: flex;
    justify-content: space-between;
}
.facilities{
    display: grid;
    grid-template-columns: 40px auto;
    row-gap: 9px;
    margin-top: 100px;
}
.facilities > div{
    color: rgb(109, 109, 109);
}
.price{
    margin-top: 100px;
}
.amount{
    padding: 13px 45px;
    display: flex;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: 18px;
    border-radius: 30px;
    font-weight: 600;
    background-color: rgba(221, 221, 221, 0.492);
    margin-bottom: 15px;
    box-shadow: rgba(156, 156, 156, 0.24) 0px 2px 8px 0px;
}
.bookNow{
    padding: 15px 35px;
    font-size: 18px;
    border-radius: 30px;
    font-weight: 600;
    color: white;
    background-color: #2379B7;
    box-shadow: rgba(156, 156, 156, 0.24) 0px 2px 8px 0px;
    cursor: pointer;
}
.rupee-icon{
    margin-right: 5px;
    margin-top: 5px;
}