*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    /* background-color: #e1e1e12a; */
}
.mainPayment{
    background-color: #e1e1e12a;
    height: 100vh;
    padding-top: 80px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -150;
}
.paymentContent{
    display: flex;
    padding: 15px 35px;
}
.payment-rightPart{
    flex-basis: 55%;
    /* border: 1px solid rebeccapurple; */
    padding: 15px 10px;

}
.payment-leftPart{
    flex-basis: 45%;
    /* border: 1px solid red; */
    
}
.confirmBooking{
    font-size: 35px;
    font-weight: 600;
    padding: 5px 15px;
    margin-bottom: 50px;
}
.userinfo{
    font-size: 25px;
    font-weight: 600;
    padding: 5px 20px;
    margin-bottom: 35px;
}
.infoForm{
    margin: 5px 25px;
    width: 40%;
}
.infoItems{
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    padding: 7px 15px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.infoItems > p{
    margin-bottom: 0px;
}
.infoLabel{
    font-size: 18px;
    font-weight: 500;
}
.infoInput{
    font-size: 13px;
    color: gray;
}
.paymentMethodDiv{
    padding:15px 25px;
}
.titlepayment{
    margin-top: 35px;
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 50px ;
}
.mainPaymentMethod{
    display: grid;
    grid-template-columns: 12% 12% 12% 12% 12%  ;
    column-gap: 15px;
    margin-top: 15px;
}
.payments{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.bookingInput{
    font-size: 13px;
    color: gray;
    margin-bottom: 0px;
}
.bookingDiv{
    margin: 15px 70px;
    padding: 15px 30px;
    border-radius: 13px;
    background-color: white;
    
}
.bookingLabel{
    font-size: 15px;
    color: rgb(67, 67, 67);
    font-weight: 500;
    margin-bottom: 0px;

}
.bookingDetails{
    display: flex;
    padding: 15px 15px;
}
.bookingItems{
    width: 100%;
    background-color: #f4f4f4;
    margin: 5px 5px;
    padding: 10px 15px;
    border-radius: 5px;
}
.bookingName{
    font-size: 25px;
    font-weight: 600;
}
.bookingLocationDiv{
    /* padding-left: 500px; */
    margin-bottom: 25px;
    margin-left: 50px;
}
.bookingLocation{
    font-size: 13px;
    margin-top: 5px;
    color: gray;
}
.confirm{
    width: 50%;
    text-align: center;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    margin: auto;
    background-color: #2379B7;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 10px 15px;
}